#container{
    display: grid;
    grid-template-rows: 1fr 12fr 2fr;
    height: 100vh;
}
#upper{
    align-content: center;
    text-align: center;
    color: 	#DCDCDC;
    background-color: #006400;
}
#buttom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    text-align: center;
    color: 	#DCDCDC;
    background-color: #006400;
}
#Gamezone{
    background-color: #3CB371;
}

i.fas.fa-frog{
   font-size: 10vh;
   position: absolute;
   left: 20vh;
   top: 10vh;
}